<%= simple_form_for(@line) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>
    <%= f.input :description, :label => "Line Description" %>
  </div>

<%= f.fields_for :workorders do |builder| %>
  <%= render 'workorder_fields', f: builder %>
<% end %>

  <%= link_to_add_fields "Add workorder", f, :workorders %>



  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
