<h1>Listing lines</h1>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pretty" >
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @lines.each do |line| %>
  <tr>
    <td><%= line.number %></td>
    <td><%= line.description %></td>
    <td><%= link_to 'Show', line %></td>
    <td><%= link_to 'Edit', edit_line_path(line) %></td>
    <td><%= link_to 'Destroy', line, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Line', new_line_path %>
