<legend>Workorder Sequence</legend>


<ul class="unstyled" id="workorders" data-update-url="<%= sort_workorders_url %>">
<% @lines.each do |line| %>


<h3><%= line.description %></h3>

<br/>


<% line.workorders.order("position").each do |workorder| %>
  <%= content_tag_for :li, workorder do %>
   <div class="handle bs-docs-example">
    <%= link_to workorder.item.number + ' ' + workorder.item.description, workorder %><br/>
    <%= workorder.status %>
    </div>
  <% end %>
<% end %>


<%= link_to 'edit', edit_line_path(line)  %>

<% end %>
</ul>





<br />

<%= link_to 'New Line', new_line_path %>
