<h1>Listing lines</h1>




<% @lines.each do |line| %>

<h3><%= line.description %></h3>
<br/>
<table cellpadding="0" cellspacing="0" border="0" class="table  table-bordered pretty" >
<% line.workorders.each do |workorder| %>

  <tr>
    <td><%= workorder.item.number %> <%= workorder.item.description %></td>
    <td><%= workorder.number %></td>
    <td><%= workorder.status %></td>
    <td><%= workorder.scheduled_quantity %></td>
  </tr>

<% end %>

</table>


    <%= link_to 'edit', edit_line_path(line)  %>
<br/>
<br/>
<% end %>
<br />

<%= link_to 'New Line', new_line_path %>
