<h1>Listing lines</h1>



<ul class="unstyled" id="workorders" data-update-url="<%= sort_workorders_url %>">
<% @lines.each do |line| %>


<h3><%= line.description %></h3>

<br/>


<% line.workorders.each do |workorder| %>


   <%= content_tag_for :li, workorder do %>
     <div class='well handle'>

	 <h4><div class="pull-left"><%= link_to workorder.item.number + ' ' + workorder.item.description, workorder %></div></h4>
	 <div class="offset3">

	 
	 <div class='span2'> 
	 <% if workorder.status == "In Process" %>
	 <span class="label label-success"><%= workorder.status %></span>
	 <% elsif workorder.status == "Scheduled" %>
	 <span class="label label-info"><%= workorder.status %></span>
	 <% elsif workorder.status == "Closed" %>
	 <span class="label label-important"><%= workorder.status %></span>
	 <% end %>
	 </div>
	 
	 <div class='span2'>Workorder: <%= workorder.number %></div>
	 <div class='span2'>Sched Qty: <%= workorder.scheduled_quantity %></div>
	 <div class='span2'>Amt Produced: <%= workorder.progress_reports.sum { |p| p.quantity } %></div>
	 </div>
       </div>

   <% end %>

<% end %>




    <%= link_to 'edit', edit_line_path(line)  %>
<br/>
<br/>
<% end %>
</ul>
<br />

<%= link_to 'New Line', new_line_path %>
