<h1>Listing lines</h1>




<% @lines.each do |line| %>
<ul class="unstyled" id="workorders" data-update-url="<%= sort_workorders_url %>">

<h3><%= line.description %></h3>

<br/>






<% line.workorders.order("position").each do |workorder| %>
  <%= content_tag_for :li, workorder do %>
    <%= workorder.position %>
    <%= workorder.id %>
    <%= link_to workorder.item.number + ' ' + workorder.item.description, workorder %><br/>
  <% end %>
<% end %>


<%= link_to 'edit', edit_line_path(line)  %>
</ul>
<% end %>






<br />

<%= link_to 'New Line', new_line_path %>
