<%= simple_form_for(@waste_capture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

      <%= f.collection_select :item_id, Item.where(:category => 'FG', :customer_id => 2 ), :id, :number_and_description, :include_blank => true %>



    <%= f.label :content_type, :label => 'Is the can mostly mixed? (check if yes)' %>
    <%= f.input :content_type, :label => false %><br/><br/>

    <%= f.input :quantity, :label => "Quantity in lbs" %>
    <%= f.input :recorded_by, :label => "What is your name?" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
