<%= simple_form_for(@waste_capture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">


    <%= f.association :workorder, :label_method => lambda { |workorder| "#{workorder.number} | #{workorder.item.description}" } %> 


    <%= f.association :item, :label_method => lambda { |item| "#{item.number} | #{item.description}" } %> 


    <%= f.input :quantity, :label => "Quantity in lbs" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
