<%= simple_form_for(@waste_capture) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.collection_select :component_id, Component.all, :id,
    :number, :include_blank => false %> 
    <%= f.input :workorder %>

    <%= f.input :quantity, :label => "Quantity in lbs" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
