<h1>Listing waste_captures</h1>



<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pretty">
  <tr>
    <th>Date</th>
    <th>Shift</th>
    <th>Item</th>
    <th>Description</th>
    <th>Mixed?</th>
    <th>Quantity (lbs)</th>
    <th>Recorded by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @waste_captures.each do |waste_capture| %>

  <tr>


<td><%= waste_capture.created_at.try(:strftime, '%D') %></td>
    <% am_shift = waste_capture.created_at.try(:strftime, '%k').to_i %>
    <% if am_shift > 6 && am_shift < 17  %>
      <td>am</td>
      <% else %>
      <td>pm</td>
      <% end %>
      
    <td><%= waste_capture.item.number %></td>
    <td><%= waste_capture.item.description %></td>
    <td><%= waste_capture.content_type %></td>
    <td><%= waste_capture.quantity %></td>
    <td><%= waste_capture.recorded_by %></td>
    <td><%= link_to 'Show', waste_capture %></td>
    <td><%= link_to 'Edit', edit_waste_capture_path(waste_capture) %></td>
    <td><%= link_to 'Destroy', waste_capture, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<div class="pull-right"><%= will_paginate @waste_captures %></div>
<br />





<%= link_to 'New Waste capture', new_waste_capture_path %>
