<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @waste_capture.user.name %>
</p>

<p>
  <b>Workorder:</b>
  <%= @waste_capture.workorder.number %>

</p>

<p>
<b>Finished Good</b>
<%= @waste_capture.workorder.item.number %> <%= @waste_capture.workorder.item.description %>
</p>

<p>
  <b>Item To Track Waste for:</b>
  <%= @waste_capture.item.number %> <%= @waste_capture.item.description %>
</p>

<p>
  <b>Quantity:</b>
  <%= @waste_capture.quantity %> lbs
</p>


<%= link_to 'Edit', edit_waste_capture_path(@waste_capture) %> |
<%= link_to 'Back', waste_captures_path %>
