
<% if signed_in? %>
<%    if current_user.user_id.present? %>
<%      @supervisor = User.find(current_user.user_id)%>
<% else %>    
<%     @supervisor = User.find(params[:id]) %>  
<%     end %>
<%     @direct_reports = User.where(:user_id => current_user.id) %>


<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for current_user, size: 50 %>
        <%= current_user.name %>
      </h1>
        Department: <%= current_user.department.name %></br>
	Supervisor: <%= link_to @supervisor.name, user_path(@supervisor.id) %>

    <% if current_user.supervisor.present? %>
      <% if current_user.supervisor == true %></br></br>
          <h4>Direct Reports</h4></br>

 <% @direct_reports.each do |direct_report| %>

  <% if direct_report.supervisor == true %>
 <a href="<%= user_path(direct_report)%>" id="example" class="btn btn-info" rel="popover" data-content="<%= direct_report.name %>" data-original-title="<%= direct_report.name %>"><%= gravatar_for direct_report, size: 35 %> </a>          
   <% else %>
 <a href="<%= user_path(direct_report)%>" id="example" class="btn" rel="popover" data-content="<%= direct_report.name %>" data-original-title="<%= direct_report.name %>"><%= gravatar_for direct_report, size: 35 %> </a>          
  <% end %>
        <% end %>

      <% else %>
        <p>no direct reports</p>
      <% end %>
    <% else %>

    <% end %>

</div>




<% else %>

<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, :url => sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
</br>
      <%= f.submit "Sign in", :class => "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

<% end %>
