<%= simple_form_for [@nonconformance, @instance] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">



    <%= f.input :workorder %>
    <%= f.input :lot %>
    <%= f.input :sublot %>
    <%= f.input :quantity %>
    <%= f.input :units %>
    <%= f.input :location %>
    <%= f.input :labor %>
    <%= f.input :labor_units %>
    <%= f.input :user_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
