<%= simple_form_for [@nonconformance, @instance], :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">



    <%= f.input :workorder %>
    <%= f.input :lot %>
    <%= f.input :sublot %>
    <%= f.input :quantity %>
    <%= f.input :units %>
    <%= f.input :location %>
    <%= f.input :labor %>
    <%= f.input :labor_units %>
    <%= f.input :user_id %>
  </div>

  <% f.fields_for :assets do |asset| %>


      <%= asset.file_field :asset %>


 <% end %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
