<p id="notice"><%= notice %></p>

<p>
  <b>Nonconformance:</b>
  <%= @instance.nonconformance_id %>
</p>

<p>
  <b>User:</b>
  <%= @instance.user_id %>
</p>

<p>
  <b>Workorder:</b>
  <%= @instance.workorder %>
</p>

<p>
  <b>Lot:</b>
  <%= @instance.lot %>
</p>

<p>
  <b>Sublot:</b>
  <%= @instance.sublot %>
</p>

<p>
  <b>Quantity:</b>
  <%= @instance.quantity %>
</p>

<p>
  <b>Units:</b>
  <%= @instance.units %>
</p>

<p>
  <b>Location:</b>
  <%= @instance.location %>
</p>

<p>
  <b>Labor:</b>
  <%= @instance.labor %>
</p>

<p>
  <b>Labor units:</b>
  <%= @instance.labor_units %>
</p>

<p>
  <b>User:</b>
  <%= @instance.user_id %>
</p>


<%= link_to 'Edit', edit_nonconformance_instance_path(@instance) %> |
<%= link_to 'Back', nonconformance_instances_path %>
