<table style="border:1px solid #98bf21">
  <tr style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;">
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Check Time</th>
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Checked By</th>   
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Workorder</th>   
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Label readability</th>
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Label accuracy</th>
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Seal integrity</th>
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Build accuracy</th>
    <th style="font-size:1.1em;
text-align:left;
padding-top:5px;
padding-bottom:4px;
background-color:#A7C942;
color:#ffffff;">Comments</th>   

  </tr>


  <tr>
    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;"><%= @production_check.created_at.strftime("%D %r") %></td>


    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;"><%= @production_check.user.name %></td>
    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;"><%= @production_check.workorder %></td>


    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;">

<%= @production_check.label_readability_pf %>
<br/>

<p style="color:gray;">
WO summary:<br/>
<%= ProductionCheck.label_readability_pass_count[@production_check.workorder] == nil ? 0 : ProductionCheck.label_readability_pass_count[@production_check.workorder]  %>/<%= ProductionCheck.checks_per_wo_count[@production_check.workorder] %><br/>
(pass/total checks)<br/>
</p>
</td>


    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;">
<%= @production_check.label_accuracy_pf %><br/>
<p style="color:gray;">
WO summary:<br/>
    <%= ProductionCheck.label_accuracy_pass_count[@production_check.workorder] == nil ? 0 : ProductionCheck.label_accuracy_pass_count[@production_check.workorder] %>/<%= ProductionCheck.checks_per_wo_count[@production_check.workorder] %><br/>

(pass/total checks)<br/>
</p>
</td>



    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;">
<%= @production_check.seal_integrity_pf %><br/>
<p style="color:gray;">
WO summary:<br/>
<%= ProductionCheck.seal_integrity_pass_count[@production_check.workorder] == nil ? 0 : ProductionCheck.seal_integrity_pass_count[@production_check.workorder] %>/<%= ProductionCheck.checks_per_wo_count[@production_check.workorder] %><br/>

(pass/total checks)<br/>
</p>
</td>


    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;"><%= @production_check.build_accuracy_pf %><br/>
<p style="color:gray;">
WO summary:<br/>
    <%= ProductionCheck.build_accuracy_pass_count[@production_check.workorder] == nil ? 0 : ProductionCheck.build_accuracy_pass_count[@production_check.workorder] %>/<%= ProductionCheck.checks_per_wo_count[@production_check.workorder] %>
<br/>
(pass/total checks)<br/>
</p>
</td>


    <td style="font-size:1em;
border:1px solid #98bf21;
padding:3px 7px 2px 7px;">
<%= @production_check.comments %>


</table>
</br>
</br>
<p style="color:gray;">
</br></br>
  

Production checks are performed by QA once every 20 minutes per active workorder.<br/>
Five sandwiches are randomly sampled at the end of the line before entering packaging.<br/>
The following qualities are reviewed for each item:<br/>
  <ul style="color:gray;">

    <li>
      <strong>Label Readability:</strong> Is the label clearly printed and easily readable?
    </li>

    <li>
      <strong>Label Accuracy:</strong> Is the content on the label correct? Is the label date correct?
    </li>

    <li>
    <strong>Seal Integrity:</strong> Does the package hold air when softly squeezed? Are the seals free of foreign material?
    </li>

    <li>
    <strong>Build Accuracy:</strong> Is the product built correctly? Does it contain the correct components in the proper proportions?
    </li>

  </ul>
</p>

