<%= form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, rows: 8 %>
  </div>


<h3>Email this comment to the following users:</h3>

<!-- <ul style="list-style:none;" class="comments"> -->
</br>
<div class="container-fluid">
  <% Department.all.each do |department| %>
  
  <% if department.users.count > 0 %>
  
  <div class="span4">
    <div class="well">
      <ol>
      <strong>
	<%= department.name %>
      </strong>
      <ol>
	<% department.users.active.each do |user|%> 
	
	<div class="row">
	<% checked_users = @commentable.comments.map(&:user).uniq + [@commentable.user] %>	  
	<%= check_box_tag "user_ids[]", user.id, checked_users.include?(user) %>
	  <%= user.name %>
	  <div class="timestamp"><%= user.title%></div>	
	  
	</div>
	
	<% end %>
	
      </ol>
      </ol>
    </div>
  </div>
  
  <% end %>
  <% end %>
</div>


<div class="form-actions">
  <%= f.button :submit, :class => 'btn btn-primary btn-large offset1'  %>
</div>
<% end %>


