<%= form_for [@commentable, @comment] do |f| %>
  <% if @comment.errors.any? %>
    <div class="error_messages">
      <h2>Please correct the following errors.</h2>
      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content, rows: 8 %>
  </div>



<p><strong>Email this comment to the following users:</strong></p>

<ul style="list-style:none;" class="comments">
      <% User.all.each do |user| %>
     <li class="comments">
	<% checked_users = @commentable.comments.map(&:user).uniq + [@commentable.user] %>
	<%= check_box_tag "user_ids[]", user.id, checked_users.include?(user) %>
	<%= user.name %></br>
     </li>
      <% end %>
</ul>
</br>
</br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
