<h1>Listing celebrities</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @celebrities.each do |celebrity| %>
  <tr>
    <td><%= celebrity.name %></td>
    <td><%= link_to 'Show', celebrity %></td>
    <td><%= link_to 'Edit', edit_celebrity_path(celebrity) %></td>
    <td><%= link_to 'Destroy', celebrity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Celebrity', new_celebrity_path %>
