
<%= simple_form_for @issue, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-inline offset3">
    <%= f.input :description %>
    <%= f.input :corrective_action %>
    <%= f.input :department_id, :collection => Department.all(:order => 'name'), :label => 'Department Responsible' %>
    <%= f.input :gmp_id, :collection => Gmp.all(:order => 'name'), :label => 'GMP' %>
    <%= f.input :foreign_object_id, :collection => ForeignObject.all, :label => 'Foreign Object Type' %>
    <%= f.input :workorder, :label => 'Workorder associated with this issue?' %>

    <%= f.file_field :photo, :label => 'Images' %>

</br>
</br>

<p><strong>Email this issue to the following users:</strong></p>

<ul style="list-style:none;" class="comments">
      <% User.all.each do |user| %>
     <li class="comments">
	<%= check_box_tag "user_ids[]", user.id %>
	<%= user.name %></br>
     </li>
      <% end %>
</ul>
</br>
</br>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

 </div>
