
<%= simple_form_for @issue, :html => {:multipart => true} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs form-inline offset1">
    <%= f.input :description %>
    <%= f.input :corrective_action %>
    <%= f.input :department_id, :collection => Department.all(:order => 'name'), :label => 'Department Responsible' %>
    <%= f.input :gmp_id, :collection => Gmp.all(:order => 'name'), :label => 'GMP' %>
    <%= f.input :foreign_object_id, :collection => ForeignObject.all, :label => 'Foreign Object Type' %>
    <%= f.input :workorder, :label => 'Workorder associated with this issue?' %>

    <%= f.file_field :photo, :label => 'Images' %>

</br>
</br>

<h3>Email this issue to the following users:</h3>

<!-- <ul style="list-style:none;" class="comments"> -->
</br>
<div class="container-fluid">
  <% Department.all.each do |department| %>
  
  <% if department.users.count > 0 %>
  
  <div class="span4">
    <div class="well">
      <ol>
      <strong>
	<%= department.name %>
      </strong>
      <ol>
	<% department.users.each do |user|%> 
	
	<div class="row">
	  
	  <%= check_box_tag "user_ids[]", user.id %>
	  <%= user.name %>
	  <div class="timestamp"><%= user.title%></div>	
	  
	</div>
	
	<% end %>
	
      </ol>
      </ol>
    </div>
  </div>
  
  <% end %>
  <% end %>
</div>


<div class="form-actions">
  <%= f.button :submit %>
</div>
<% end %>


