<h1>Issues</h1>

<%= link_to 'Add New Issue', new_issue_path, :class => 'btn' %>


<%= form_tag issues_path, method: :get do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
   <p class="pull-right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<div id="issues"><%= render 'issues' %></div>

<% end %>




