<h1>Listing issues</h1>
<%= link_to 'Add New Issue', new_issue_path, :class => 'btn' %>
</br>
</br>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pretty" id="prettytable">
<thead>

  <tr>
    <th>Date</th>
    <th>Image</th>
    <th>User</th>
    <th>Description</th>
    <th>Corrective Action</th>
    <th>Workorder</th>
    <th>Department Responsible</th>
    <th>Foreign object type</th>
    <th>Gmp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @issues.each do |issue| %>
  <tr>
    <td><%= issue.created_at.strftime("%c") %></td>
        <% if issue.photo.file? %>


    <td><%=link_to image_tag(issue.photo.url(:small)), issue.photo.url, :class=>"iframe", :size => "300x300" %></td>
        <% else %>
    <td>no image</td>
        <% end %>
    <td><%= gravatar_for issue.user, size: 52 %></br>
        <%= link_to issue.user.name, issue.user %></td>
    <td><%= issue.description %></td>
    <td><%= issue.corrective_action %></td>
    <td><%= issue.workorder %></td>
    <td><%= issue.department.name %></td>
    <td><%= issue.foreign_object.name %></td>
    <td><%= issue.gmp.name %></td>
    <td><%= link_to 'Show', issue %></td>
    <td><%= link_to 'Edit', edit_issue_path(issue) %></td>
    <td><%= link_to 'Destroy', issue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />


