<div class="well">
<table>
  <div class="issues_show">
<tr>
    <td>

      <% if @issue.photo.file? %>

	<%=link_to image_tag(@issue.photo.url(:small)), @issue.photo.url, :class => 'iframe', :size => "50x50" %>
      <% else %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Description:</b>
    </td>
    <td>
      <%= @issue.description %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Corrective Action:</b>
    </td>
    <td>
      <%= @issue.corrective_action %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Workorder:</b>
    </td>
    <td>
      <%= @issue.workorder %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Foreign object:</b>
    </td>
    <td>
      <%= @issue.foreign_object.name %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Added by:</b>
    </td>
    <td>
      <%= link_to @issue.user.name, @issue.user %>
    </td>
  </tr>
  <tr>
    <td>
      <b>Department Responsible:</b>
    </td>
    <td>
      <%= @issue.department.name %>
    </td>
  </tr>
  <tr>
    <td>
      <b>GMP:</b>
    </td>
    <td>
      <%= @issue.gmp.name %>
    </td>
  </tr>
</div>

</table>
</div>

<%= link_to 'Edit', edit_issue_path(@issue) %> |
<%= link_to 'Back', issues_path %>

</br>
</br>
<h2><div class="pull-left">Comments</div></h2>


<%= render "comments/comments" %>
<%= render "comments/form" %>
