<h1>Listing infractions</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>User</th>
    <th>Description</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @infractions.each do |infraction| %>
  <tr>
    <td><%= link_to gravatar_for(infraction.user), user_path(infraction.user_id) %></td>
    <td><%= infraction.description %></td>
    <td><%= infraction.date %></td>
    <td><%= link_to 'Show', infraction %></td>
    <td><%= link_to 'Edit', edit_infraction_path(infraction) %></td>
    <td><%= link_to 'Destroy', infraction, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Infraction', new_infraction_path %>
