<h1>Listing nonconformances</h1>




  <%= link_to(new_nonconformance_path, :class => 'btn btn-mini') do %>
  <i class="icon-plus-sign"></i> New Nonconformance
  <% end %></br></br>
<% open_ncs = Nonconformance.open.count %>
<% in_process = Nonconformance.in_process.count %>
<div class="pull-right"><%= link_to "Open (#{open_ncs})", :status => "Open" %> | <%= link_to "In Process (#{in_process})", :status => "In Process" %></div>

</br>
</br>

<% @nonconformances.each do |nonconformance| %>

<div class="well">


<div class="alert alert-success span1 pull-left"><%= number_to_currency(nonconformance.instances.sum { |p| p.quantity * nonconformance.component.price_per_purchase_unit }) %></div>

<% nonconformance.instances.each do |instance| %>
      <% if instance.asset.file? %>
    <div class="span2 pull-right"><%=link_to image_tag(instance.asset.url(:small)), instance.asset.url, :class => 'iframe' %></div>
        <% else %>

        <% end %>
	 <% if instance.asset2.file? %>
    <div class="span2 pull-right"><%=link_to image_tag(instance.asset2.url(:small)), instance.asset2.url, :class => 'iframe' %></div>
        <% else %>

        <% end %>


<% end %>


      <%= link_to "(edit)", edit_nonconformance_path(nonconformance), :class => "pull-right" %></br></br></br>
      <h3><%= nonconformance.component.number %>&nbsp<%= nonconformance.component.sk_description %></h3>
      </br>
      <p><%= nonconformance.reason %></p>
   <%= link_to "Add new instance", new_nonconformance_instance_path(nonconformance), :class => "btn pull-right" %>
     <button class="btn pull-right" data-toggle="collapse" data-target=#<%= "nc#{nonconformance.id}" %>>
     show instances (<%= nonconformance.instances.count %>)
     </button>

     <% if current_user.nc_admin == true %>
       <%= form_for nonconformance, :remote => true do |f| %>
       <div class="disabled"><%= f.select :status, [['Open'],['In Process']], {}, {:onChange => 'this.form.submit();' } %><div class="timestamp">this field is only visible to nc admins</div></div>

       <% end %>
     <% end %>

<div class="timestamp pull-left">created on <%= nonconformance.created_at.strftime("%D at about %l %P") %> by <%= link_to nonconformance.user.name, nonconformance.user %></div>

</div>

<div id=<%= "nc#{nonconformance.id}" %> class="collapse">

<div class="scrollable">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="prettytable">
  <tr>

    <th>User</th>
    <th>Workorder</th>
    <th>Lot</th>
    <th>Sublot</th>
    <th>Quantity</th>
    <th>Units</th>
    <th>Location</th>
    <th>Labor</th>
    <th>Labor units</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>




    <% nonconformance.instances.each do |instance| %>


  <tr>

    <td><%= instance.user_id %></td>
    <td><%= instance.workorder %></td>
    <td><%= instance.lot %></td>
    <td><%= instance.sublot %></td>
    <td><%= instance.quantity %></td>
    <td><%= instance.units %></td>
    <td><%= instance.location %></td>
    <td><%= instance.labor %></td>
    <td><%= instance.labor_units %></td>
    <td><%= instance.user_id %></td>

      <% if instance.asset.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset.url(:small)), instance.asset.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

      <% if instance.asset2.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset2.url(:small)), instance.asset2.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

      <% if instance.asset3.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset3.url(:small)), instance.asset3.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

      <% if instance.asset4.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset4.url(:small)), instance.asset4.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

    <td>	
      <%= link_to "edit", edit_nonconformance_instance_path(nonconformance, instance) %>
    </td>
  </tr>
<% end %>
</table>
</div>
</div>
<br />





<% end %>




<br />

<%= will_paginate @nonconformances %>


