<h1>Listing nonconformances</h1>

  <%= link_to(new_nonconformance_path, :class => 'btn btn-mini') do %>
  <i class="icon-plus-sign"></i> New Nonconformance
  <% end %></br></br>

<%= link_to "view open ncs", :status => "Open" %>|<%= link_to "view in process  ncs", :status => "In Process" %>

</br>
</br>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="prettytable">
  <tr>
    <th><%= sortable "item_id", "Item" %></th>
    <th><%= sortable "reason", "Reason" %></th>
    <th><%= sortable "created_at", "Created" %></th>
    <th><%= sortable "status", "Status" %></th>

    <th></th>
  </tr>

<% @nonconformances.each do |nonconformance| %>

  <tr>


    <td><%= nonconformance.item.number %>&nbsp<%= nonconformance.item.description %></td>
    <td><%= link_to nonconformance.reason, nonconformance %></td>
    <td><%= nonconformance.created_at.strftime("%D %l %P") %></td> 
    <td><%= nonconformance.status %></td>
    <td><%= link_to 'Destroy', nonconformance, confirm: 'Are you sure?', method: :delete %></td>

  </tr>

<% end %>
</table>

<br />

<%= will_paginate @nonconformances %>


