
<div class="row" style="display:inline;">
  <%= link_to(new_nonconformance_path, :class => 'btn btn-mini') do %>
  <i class="icon-plus-sign"></i> New Nonconformance
  <% end %>
      </br>
      <% open_ncs = Nonconformance.open.count %>
      <% in_process = Nonconformance.in_process.count %>
      <div class="pull-right"><%= link_to "Open (#{open_ncs})", :status => "Open" %> | <%= link_to "In Process (#{in_process})", :status => "In Process" %></div>
      
    </br>
    
    
</div>
<% @nonconformances.each do |nonconformance| %>

<div>
  
  <div class="container-fluid well row">
    <span class="pull-left label label-success">
      <%= number_to_currency(nonconformance.instances.sum { |p| p.quantity * nonconformance.component.price_per_purchase_unit + p.labor * nonconformance.labor_cost }) %>
    </span>
</br></br>
<div class="span5">
  <h3><%= nonconformance.component.number %>&nbsp<%= nonconformance.component.sk_description %></h3>
       </br>
  <p><%= nonconformance.reason %>&nbsp<%= link_to "(edit)", edit_nonconformance_path(nonconformance), :class => "" %></p>
  <% if current_user.nc_admin == true %>
  <%= form_for nonconformance, :remote => true do |f| %>
  <div class="disabled">
    <%= f.select :status, [['Open'],['In Process']], {}, {:onChange => 'this.form.submit();' } %>
    <div class="timestamp">
      this field is only visible to nc admins
    </div>
  </div>
  <% end %>
  <% end %>


     <div class="timestamp pull-left">
  created on <%= nonconformance.created_at.strftime("%D at about %l %P") %> by <%= link_to nonconformance.user.name, nonconformance.user %>
      </div>
</div>
    <div class="well offset5 ">
      <% nonconformance.instances.each do |instance| %>
      <% if instance.asset.file? %>

	<%=link_to image_tag(instance.asset.url(:small)), instance.asset.url, :class => 'iframe' %>

      <% else %>
      <% end %>
      
      <% if instance.asset2.file? %>

	<%=link_to image_tag(instance.asset2.url(:small)), instance.asset2.url, :class => 'iframe' %>

      <% else %>
      <% end %>
      <% end %>
    </div>


    <div class="pull-right">

      <div class="btn span2" data-toggle="collapse" data-target=#<%= "nc#{nonconformance.id}" %>>show instances (<%= nonconformance.instances.count %>)
      </div>
      <%= link_to "Add new instance", new_nonconformance_instance_path(nonconformance), :class => "btn btn-primary span2" %>&nbsp
    </div>      

    
  </div>    
</div>    
<div id=<%= "nc#{nonconformance.id}" %> class="collapse">
  
  <div class="scrollable">
    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
      <tr>
	
	<th>Created on</th>
	<th>Created by</th>
	<th>Workorder</th>
	<th>SK Component Lot</th>
	<th>SK Component Sublot</th>
	<th>Quantity</th>
	<th>Location</th>
	<th>Labor</th>
	<th>RTS by</th>
      </tr>
      
      
      
      
      <% nonconformance.instances.each do |instance| %>
      
      
      <tr>
	
	<td><%= instance.created_at.strftime("%D %l %P") %></td>
	<td><%= link_to instance.user.name, instance.user %></td>
	<td><%= instance.workorder %></td>
	<td><%= instance.lot %></td>
	<td><%= instance.sublot %></td>
	<td><%= instance.quantity %> <%= instance.nonconformance.component.purchase_unit %></td>
	
	<td><%= instance.location %></td>
	<td><%= instance.labor %> hrs</td>
	<td><%= link_to instance.stocker.name, instance.stocker %></td>
	
	<td><div class="span5">	
	<% if instance.asset.file? %>
        <%=link_to image_tag(instance.asset.url(:small)), instance.asset.url, :class => 'iframe' %>
        <% else %>

        <% end %>
	
	<% if instance.asset2.file? %>
	<%=link_to image_tag(instance.asset2.url(:small)), instance.asset2.url, :class => 'iframe' %>
        <% else %>

        <% end %>
	
	<% if instance.asset3.file? %>
	<%=link_to image_tag(instance.asset3.url(:small)), instance.asset3.url, :class => 'iframe' %>
        <% else %>

        <% end %>
	
	<% if instance.asset4.file? %>
	<%=link_to image_tag(instance.asset4.url(:small)), instance.asset4.url, :class => 'iframe' %>

        <% else %>
        <% end %>
	</div>
	</td>
	<td>	
	  <%= link_to "edit", edit_nonconformance_instance_path(nonconformance, instance) %>
	</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>






<% end %>








<%= will_paginate @nonconformances %>



