<div class="row" style="display:inline;">
<div class="pull-right">  <%= link_to(new_nonconformance_path, :class => 'btn btn-mini') do %>
  <i class="icon-plus-sign"></i> New Nonconformance
  <% end %></div>

</div>

<div class="tabbable"> 
  <ul class="nav nav-tabs" id="pageloaders">
    <% if params[:status] == "Open" %>
    <li class='active'><%= link_to "Open (#{Nonconformance.open.count})", :status => "Open", :data => {:toggle=>"tab"} %></li>
    <% elsif params.has_key?(:status) == false %>
    <li class='active'><%= link_to "Open (#{Nonconformance.open.count})", :status => "Open", :data => {:toggle=>"tab"} %></li>
    <% else %>
   <li class=''><%= link_to "Open (#{Nonconformance.open.count})", :status => "Open", :data => {:toggle=>"tab"} %></li>
    <% end %>


    <li class="<%= 'active' if params[:status] == 'Waiting on Supplier' %>"><%= link_to "Waiting on supplier (#{Nonconformance.waiting_on_supplier.count})", :status => "Waiting on Supplier", :data => {:toggle=>"tab"} %></li>

    <li class="<%= 'active' if params[:status] == 'Closed' %>"><%= link_to "Closed (#{Nonconformance.closed.count})", :status => "Closed", :data => {:toggle=>"tab"} %></li>
  </ul>


  <% if params[:status] == 'Waiting on Supplier' %>
  <div class="btn-group" data-toggle="buttons-radio">
    <% if params.has_key?(:limit) == true %>
    <button class="btn">
      <%= link_to "Show all", :status => "Waiting on Supplier" %>
    </button>
    <button class="btn active">
      <%= link_to "Filter by Overdue", nonconformances_path(params.merge(:limit => 'overdue')) %>
    </button>
    <div class="offset4">Now showing all NCs older than a week</div>
    <% end %>
    <% if params.has_key?(:limit) == false %>
    <button class="btn active">
      <%= link_to "Show all", :status => "Waiting on Supplier" %>
    </button>
    <button class="btn">
      <%= link_to "Filter by Overdue", nonconformances_path(params.merge(:limit => 'overdue')) %>
    </button>
    <% end %>
  </div>
  <% else %>
  </br>
  <% end %>
  




  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p></p>
    </div>
    <div class="tab-pane" id="tab2">
      <p></p>
    </div>
    <div class="tab-pane" id="tab3">
      <p></p>
    </div>
  </div>
</div>



<% @nonconformances.each do |nonconformance| %>

<div>
  <div class="nonconformance-summary">

      <div class="span2">
	<div class="green">
	<strong>
	<%= number_to_currency(nonconformance.instances.sum { |p| p.quantity * nonconformance.component.price_per_purchase_unit + p.labor * nonconformance.labor_cost }) %>
	</strong>
	</div>

	<% if nonconformance.notification_date != nil %>
	<div class="show-grid">
	  <p>
	    sent <%= time_ago_in_words(nonconformance.notification_date) %> ago
	  </p>
	</div>
	<% end %>


	<% if nonconformance.close_date != nil %>
	<div class="show-grid">
	  <p>
	    closed <%= time_ago_in_words(nonconformance.close_date) %> ago
	  </p>
	</div>



	<% end %>

      </div>

      <div class="span9">

	  <h3><%= link_to nonconformance.component.number + ": " + nonconformance.component.sk_description, nonconformance %> ID:<%= nonconformance.id %></h3></br>
	  <p><%= nonconformance.reason %></p>
	  <% if nonconformance.status == 'Closed' %>
	  <p><small>posted to X3 on: <%= nonconformance.x3_post_date %></small></p>
	  <% end %>
	  <% if current_user.nc_admin == true %>
	  <%= form_for nonconformance, :remote => true do |f| %>


	  <%= f.select :status, [['Open'],['Waiting on Supplier'],['Closed'],], {}, {:onChange =>
	  'this.form.submit();' } %>
	  <div class="timestamp">
	    this field is only visible to nc admins
	  </div>
	  <% end %>
	  <% end %>
      </div>
      <div class="span11">
      <div class="row">
	<div class="timestamp pull-right">
	  created <%= time_ago_in_words(nonconformance.created_at) %> ago by <%= link_to nonconformance.user.name, nonconformance.user %>
	</div>    
       </div>



      </div>
      

      
  </div>    
</div>

<% end %>
</br>
<%= will_paginate @nonconformances %>
</br>    
</br>    
</br>    
</br>    
</br>    






