
<p id="notice"><%= notice %></p>

<p>
  <b>Item:</b>
  <%= @nonconformance.item.number %>&nbsp<%= @nonconformance.item.description %>
</p>
<p>
  <b>Reason:</b>
  <%= @nonconformance.reason %>&nbsp(<%= link_to 'Edit', edit_nonconformance_path(@nonconformance) %>)
</p>



</br>
</br>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="prettytable">
  <tr>

    <th>User</th>
    <th>Workorder</th>
    <th>Lot</th>
    <th>Sublot</th>
    <th>Quantity</th>
    <th>Units</th>
    <th>Location</th>
    <th>Labor</th>
    <th>Labor units</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @nonconformance.instances.each do |instance| %>
  <tr>

    <td><%= instance.user_id %></td>
    <td><%= instance.workorder %></td>
    <td><%= instance.lot %></td>
    <td><%= instance.sublot %></td>
    <td><%= instance.quantity %></td>
    <td><%= instance.units %></td>
    <td><%= instance.location %></td>
    <td><%= instance.labor %></td>
    <td><%= instance.labor_units %></td>
    <td><%= instance.user_id %></td>

      <% if instance.asset.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset.url(:small)), instance.asset.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

      <% if instance.asset2.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset2.url(:small)), instance.asset2.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

      <% if instance.asset3.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset3.url(:small)), instance.asset3.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

      <% if instance.asset4.file? %>
    <td><div class="span2"><%=link_to image_tag(instance.asset4.url(:small)), instance.asset4.url, :class => 'iframe' %></div></td>
        <% else %>
    <td>no image</td>
        <% end %>

    <td>	

		       
<%= link_to 'Edit', edit_nonconformance_instance_path(@nonconformance,instance) %>|
<%= link_to 'Delete', nonconformance_instance_path(@nonconformance,instance), confirm: 'Are you sure?', method: :delete %>
    </td>

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add', new_nonconformance_instance_path(@nonconformance) %>


<%= link_to 'Back', nonconformances_path %>






