
<h1>Users</h1>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="prettytable">
  <thead>
    <tr>
      <th>Name</th>
     <% if current_user.admin == true %>	
      <th>Receives Production Check Alerts?</th>
      <th>Admin</th>
     <% end %>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= gravatar_for user, size: 52 %></br>
            <%= link_to user.name, user %></td>

	    <% if current_user.admin == true %>
	    <%= form_for user, :remote => true do |f| %>
	    <td><div class="disabled">
	      <%= f.select :receives_production_check_alert, [[true],[false]], {}, {:onChange => 'this.form.submit();' } %>
	    </div></td>
	    <% end %>
	    <% end %>


	    <% if user.receives_production_check_alert == nil %>
	    <td>No</td>
	    <% elsif user.receives_production_check_alert == true %>
	    <td>Yes</td>
	    <% end %>
         <% if current_user.admin == true %>	
        <td>
	     <div class="btn-group">
	       <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">

		 <span class="caret"></span>
	       </a>
	       <ul class="dropdown-menu">
		 <!-- dropdown menu links -->
		       <%= link_to 'Show', user_path(user)%>
		       <%= link_to 'Destroy', user_path(user), :method => :delete, :confirm => 'Are you sure?' %>
	       </ul>
	     </div>
        </td>
	 <% end %>
        
       </tr>
    <% end %>
  </tbody>
</table>




