
<h1>Users</h1>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="prettytable">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= link_to user.name, user_path(user) %>
        </td>
        <td></td>
        <td></td>
        <td>
          <%= link_to 'Show', user_path(user), :class => 'btn btn-mini btn-info' %>
          <%= link_to 'Edit', edit_user_path(user), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', user_path(user), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
        
	      </tr>
         <% if current_user.supervisor == true %>


	       <% user.infractions.each do |infraction| %>
	       <tr>
		 <td></td>
		 <td><%= infraction.date        %></td>
		 <td><%= infraction.description %></td>
		 <td><%= link_to 'New', new_infraction_path %>
		 <%= link_to 'Edit', edit_infraction_path(infraction) %>
		 <%= link_to 'Destroy', infraction_path(infraction), :method => :delete, :confirm => 'Are you sure?' %></td>
	       </tr>

          <% end %>
        <% end %>
    <% end %>
  </tbody>
</table>



<%= link_to 'New', new_user_path, :class => 'btn btn-primary' %>
