<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span6 well">
    <section>
      <h1>
        <%= gravatar_for @user, size: 150 %>
        <%= @user.name %>
      </h1>
      <h6><%= @user.title %></h6>
</br>

       <address><strong>Contact: </strong><a href="mailto:#"><%= @user.email %></a></address>
       <strong> Department:</strong> <%= link_to  @user.department.name, department_path(@user.department) %></br></br>
       <strong>Supervisor:</strong> <%= link_to @supervisor.name, user_path(@supervisor.id) %>



</div>

