<%= simple_form_for(@workorder) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :number, :label => 'Workorder number' %>

    <%= f.select :line_ids, Line.all.collect {|x| [x.description, x.id]}, {}, :multiple => true %>


    <%= f.association :item, :label_method => lambda { |item| "#{item.number} #{item.description}" } %>


    <%= f.input :status %>



    <%= f.input :scheduled_quantity %>



    <%= f.input :start_time %>

    <%= f.input :special_equipment %>

    <%= f.input :notes %>

  </div>


<%= f.fields_for :progress_reports do |builder| %>
  <%= render 'progress_report_fields', f: builder %>
<% end %>
<%= link_to_add_fields "Add Progress Report", f, :progress_reports %>


  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
