
<h1>Listing workorders</h1>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pretty" >

  <tr>
    <th>Number</th>

    <th>Item</th>
    <th>Status</th>
    <th>Line</th>

    <th>Scheduled quantity</th>

    <th>Start time</th>

    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @workorders.each do |workorder| %>
  <tr>
    <td><%= workorder.number %></td>

    <td><%= link_to workorder.item.number + ' ' + workorder.item.description, workorder.item %></td>
    <td><%= workorder.status %></td>
    <td>
      <% workorder.lines.each do |line| %>
      <%= line.description %>
    <% end %>
    </td>

    <td><%= workorder.scheduled_quantity %></td>

    <td><%= workorder.start_time %></td>

    <td><%= workorder.notes %></td>
    <td><%= link_to 'Show', workorder %></td>
    <td><%= link_to 'Edit', edit_workorder_path(workorder) %></td>
    <td><%= link_to 'Destroy', workorder, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Workorder', new_workorder_path %>
