<p id="notice"><%= notice %></p>

<p>
  <b>Workorder Number:</b>
  <%= @workorder.number %>
</p>


<p>
  <b>Item:</b>
  <%= @workorder.item.number %> <%= @workorder.item.description %>
</p>

<p>
  <b>Status:</b>
  <%= @workorder.status %>
</p>


<p>
  <b>Scheduled quantity:</b>
  <%= @workorder.scheduled_quantity %>
</p>



<p>
  <b>Amount produced:</b>
  <%= @workorder.progress_reports.sum { |p| p.quantity } %>
</p>

<p>
  <b>Start time:</b>
  <%= @workorder.start_time %>
</p>

<p>
  <b>Special equipment:</b>
  <%= @workorder.special_equipment %>
</p>

<p>
  <b>Notes:</b>
  <%= @workorder.notes %>
</p>


</br>


<%= link_to 'Edit', edit_workorder_path(@workorder) %> |
<%= link_to 'Back', workorders_path %>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
<th>Time</th>
<th>Quantity</th>
<th>Notes</th>
<% @workorder.progress_reports.each do |progress_report| %>
<tr>
  <td><%= progress_report.created_at.strftime("%D %l:%M %P") %></td>
  <td><%= progress_report.quantity %></td>
  <td><%= progress_report.notes %></td>
</tr>
<% end %>
</table>
