<h1>Departments</h1>
<%= link_to 'Add New Department', new_department_path, :class => 'btn' %>
</br>
</br>

<%= form_tag departments_path, method: :get do %>
  <p>
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>
<% end %>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered"  >

  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
   <% @departments.each do |department| %>
  <tr>
    <td><%= department.name %></td>
    <% if current_user.admin = true %>
      <td><%= link_to 'Show', department %></td>
      <td><%= link_to 'Edit', edit_department_path(department) %></td>
      <td><%= link_to 'Destroy', department, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
  </tbody>
</table>

<%= will_paginate %>
