<%= simple_form_for(@production_check) do |f| %>
  <%= f.error_notification %>
  <div class="alert alert-info">
    <strong>Instructions: </strong><p>Perform one check every 20 minutes for each workorder.</p>
  </div>
  <div class="form-inputs form-inline">
    <%= f.input :workorder %>
  <div class="alert alert-warning">
  Only check items that fail! If there are no problems, leave checkbox unchecked.
  </div>

    <%= f.input :label_readability, :label => false, :inline_label => 'Label Readability', :hint => 'Is the label clearly printed and easily readable?' %>
    <%= f.input :label_accuracy, :label => false, :inline_label => 'Label Accuracy', :hint => 'Is the content on the label correct? Is the label date correct?' %>
    <%= f.input :seal_integrity, :label => false, :inline_label => 'Seal Integrity', :hint => 'Does the package hold air when softly squeezed? Are the seals free of foreign material?' %>
    <%= f.input :build_accuracy, :label => false, :inline_label => 'Build Accuracy', :hint => 'Is the product built correctly? Does it contain the correct components in the proper proportions?' %>
    <%= f.input :comments, :label => "Corrective Actions" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
