
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pretty" >
  <tr>
    <th><%= sortable "created_at", "Date" %></th>
    <th><%= sortable "user_id", "User" %></th>   
    <th><%= sortable "workorder", "Workorder" %></th>   
    <th>Label readability</th>

    <th>Label accuracy</th>
    <th>Seal integrity</th>
    <th>Build accuracy</th>
    <th><%= sortable "comments", "Comments" %></th>   
  </tr>

<% @production_checks.each do |production_check| %>

  <tr>
    <td><%= production_check.created_at.strftime("%D %r") %></td>
    <td><%= link_to gravatar_for(production_check.user, size: 100), production_check.user %></br>
        <%= link_to production_check.user.name, production_check.user %></td>
    <td><%= production_check.workorder %></td>
    
    <td><%= production_check.label_readability_pf %>
</br>
</br>

<%= ProductionCheck.label_readability_pass_count[production_check.workorder] == nil ? 0 : ProductionCheck.label_readability_pass_count[production_check.workorder]  %>/<%= ProductionCheck.checks_per_wo_count[production_check.workorder] %>
</br>
(pass/total)    
</td>
    <td><%= production_check.label_accuracy_pf %>
</br>
</br>
    <%= ProductionCheck.label_accuracy_pass_count[production_check.workorder] == nil ? 0 : ProductionCheck.label_accuracy_pass_count[production_check.workorder] %>/<%= ProductionCheck.checks_per_wo_count[production_check.workorder] %>
</br>
(pass/total)    
    </td>
    <td><%= production_check.seal_integrity_pf %>
</br>
</br>
    <%= ProductionCheck.seal_integrity_pass_count[production_check.workorder] == nil ? 0 : ProductionCheck.seal_integrity_pass_count[production_check.workorder] %>/<%= ProductionCheck.checks_per_wo_count[production_check.workorder] %>
</br>
(pass/total)    
    </td>
    <td><%= production_check.build_accuracy_pf %>
</br>
</br>
    <%= ProductionCheck.build_accuracy_pass_count[production_check.workorder] == nil ? 0 : ProductionCheck.build_accuracy_pass_count[production_check.workorder] %>/<%= ProductionCheck.checks_per_wo_count[production_check.workorder] %>
</br>
(pass/total)    
    </td>

    <td><div class="issues_overflower span4"><%= production_check.comments %></div></td>
    <td>
	     <div class="btn-group">
	       <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">

		 <span class="caret"></span>
	       </a>
	       <ul class="dropdown-menu">
		 <!-- dropdown menu links -->
		       <%= link_to 'Edit', edit_production_check_path(production_check) %>
		       <%= link_to 'Delete', production_check, confirm: 'Are you sure?', method: :delete %>
		
	       </ul>
	     </div>
    </td>



  </tr>
<% end %>
</table>

<%= will_paginate @production_checks %>
