<h1>Listing production checks</h1>

<%= form_tag production_checks_path, method: :get do %>

  <%= link_to(new_production_check_path, :class => 'btn btn-mini') do %>
  <i class="icon-plus-sign"></i> Add Check 
  <% end %>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
   <p class="pull-right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>

  <div id="packaging"><%= render 'production_checks' %></div>

<% end %>









<br />


