<%= simple_form_for(@audit) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <%= f.input :dishwasher %>
    <%= f.input :dishwasher_time, :as => :datetime, :input_html => { :class => 'date_picker' } %>

    <%= f.input :cutting_tools %>
    <%= f.input :tunnel_temperature %>
    <%= f.input :sanitizer %>
    <%= f.input :data_collection %>
    <%= f.input :mps %>
    <%= f.input :metal_detection %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
