<h1>QA-F07 System Audit</h1>

<%= form_tag audits_path, method: :get do %>

  <%= link_to(new_audit_path, :class => 'btn btn-mini') do %>
  <i class="icon-plus-sign"></i> New Audit 
  <% end %>

  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
   <p class="pull-right">
    <%= text_field_tag :query, params[:query] %>
    <%= submit_tag "Search", name: nil %>
  </p>

  <%= render 'audits' %>


<% end %>
