<div class="scrollable">
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pretty">

  <tr>
    <th><%= sortable "created_at", "Date" %></th>
    <th><%= sortable "user_id", "User" %></th>   
    <th><%= sortable "workorder", "Workorder" %></th>   
    <th>Item</th>   
    <th>Individual Label Placement</th>   
    <th>individual label legibility</th>
    <th>individual seal integrity</th>
    <th>individual label accuracy</th>
    <th>individual general appearance</th>
    <th>master label placement</th>
    <th>master label legibility</th>
    <th>master tape glue</th>
    <th>master case appearance</th>
    <th>case count</th>
    <th>case weight</th>
    <th>comments</th> 
    <% if current_user.admin == true %>	
    <th>Admin</th>
    <% end %>
  </tr>


<% @packagings.each do |packaging| %>
  <tr>
    <td><%= packaging.created_at.strftime("%c") %></td>
    <td><%= gravatar_for packaging.user, size: 52 %></br>
        <%= link_to packaging.user.name, packaging.user %></td>
    <td><%= packaging.workorder %></td>
    <td><%= packaging.item.number %></td>

    <% if packaging.individual_label_placement == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.individual_label_legibility == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.individual_seal_integrity == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.individual_label_accuracy == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.individual_general_appearance == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.master_label_placement == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.master_label_legibility == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.master_tape_glue == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <% if packaging.master_case_appearance == true %>
    <td><span class="label label-important">Fail</span></td>
    <% else %>
    <td><span class="label label-success">Pass</span></td>
    <% end %>

    <td><%= packaging.case_count %></td>
    <td><%= packaging.case_weight %></td>
    <td><%= packaging.comments %></td>
    


         <% if current_user.admin == true %>	
        <td>
	     <div class="btn-group">
	       <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
		 <span class="caret"></span>
	       </a>
	       <ul class="dropdown-menu">
		 <!-- dropdown menu links -->
		       <%= link_to 'Show', packaging_path(packaging)%>
		       <%= link_to 'Edit', edit_packaging_path(packaging)%>
		       <%= link_to 'Destroy', packaging_path(packaging), :method => :delete, :confirm => 'Are you sure?' %>
	       </ul>
	     </div>
        </td>
	 <% end %>
  </tr>
<% end %>
</table>
</div>
<%= will_paginate @packagings %>
