<h1>Listing packagings</h1>

<%= will_paginate %>

<table class="table table-striped">
  <tr>
    <th>Date</th>
    <th>User</th>
    <th>Workorder</th>
    <th>Item number</th>
    <th>Individual label placement</th>
    <th>Individual label legibility</th>
    <th>Individual seal integrity</th>
    <th>Individual label accuracy</th>
    <th>Individual general appearance</th>
    <th>Master label placement</th>
    <th>Master label legibility</th>
    <th>Master tape glue</th>
    <th>Master case appearance</th>
    <th>Case count</th>
    <th>Case weight</th>
    <th>Comments</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>




<% @packagings.each do |packaging| %>
  <tr>
    <td><%= packaging.created_at.strftime("%m/%d/%y") %></td>
    <td><%= link_to packaging.user.name, user_path(packaging.user) %></td>
    <td><%= packaging.workorder %></td>
    <td><%= packaging.item_number %></td>

    <% if packaging.individual_label_placement == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.individual_label_legibility == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.individual_seal_integrity == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.individual_label_accuracy == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.individual_general_appearance == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.master_label_placement == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.master_label_legibility == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.master_tape_glue == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <% if packaging.master_case_appearance == true %>
      <td><i class="icon-remove"></i></td>
    <% else %>
      <td><i class="icon-ok"></i></td>
    <% end %>
    <td></td>

    <td><%= packaging.case_count %></td>
    <td><%= packaging.case_weight %></td>
    <td><%= packaging.comments %></td>
    <td><%= link_to 'Show', packaging %></td>
    <td><%= link_to 'Edit', edit_packaging_path(packaging) %></td>
    <td><%= link_to 'Destroy', packaging, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New', new_packaging_path, :class => 'btn btn-large btn-primary' %>

