<h1>Listing Foreign Objects</h1>
<%= link_to 'Add New Foreign object', new_foreign_object_path, :class => 'btn' %>
</br>
</br>
<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="prettytable">

<thead>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @foreign_objects.each do |foreign_object| %>
  <tr>
    <td><%= foreign_object.name %></td>
    <td><%= link_to 'Show', foreign_object %></td>
    <td><%= link_to 'Edit', edit_foreign_object_path(foreign_object) %></td>
    <td><%= link_to 'Destroy', foreign_object, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />


