<%= simple_form_for(@item) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :number %>



    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :status %>
    <%= f.input :case_pack %>
    <%= f.input :case_weight %>
    <%= f.input :case_weight_unit %>
    <%= f.input :usda_bug_required %>
    <%= f.input :purchase_to_stock_conversion %>
    <%= f.input :purchase_unit %>
    <%= f.input :stock_unit %>
    <%= f.association :supplier, :label_method => lambda { |supplier| "#{supplier.name}" } %>
  


    <%= f.association :customer, :label_method => lambda { |customer| "#{customer.long_name}" } %>

  </div>

  <%= f.fields_for :recipes do |builder| %>
    <%= render 'recipe_fields', f: builder %>
  <% end %>



  

 <%= link_to_add_fields "Add Item", f, :recipes %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
