<h1>Listing items</h1>

<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered pretty" id="prettytable">
<thead>
  <tr>
    <th>Number</th>
    <th>Description</th>
    <th>category </th>
    <th>status </th>
    <th>case pack </th>
    <th>case weight </th>
    <th>case weight unit </th>
    <th>usda bug required </th>
    <th>purchase to stock conversion </th>
    <th>purchase unit </th>
    <th>stock unit </th>
    <th>supplier id </th>
    <th>item type </th>
    <th>customer id </th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @items.each do |item| %>
  <tr>
    <td><%= item.number %></td>
    <td><%= item.description %></td>
    <td><%= item.category %></td>
    <td><%= item.status %></td>
    <td><%= item.case_pack %></td>
    <td><%= item.case_weight %></td>
    <td><%= item.case_weight_unit %></td>
    <td><%= item.usda_bug_required %></td>
    <td><%= item.purchase_to_stock_conversion %></td>
    <td><%= item.purchase_unit %></td>
    <td><%= item.stock_unit %></td>
    <td><%= item.supplier_id %></td>
    <td><%= item.item_type.try(:name) %></td>
    <td><%= item.customer_id %></td>
    <td><%= link_to 'Show', item %></td>
    <td><%= link_to 'Edit', edit_item_path(item) %></td>
    <td><%= link_to 'Destroy', item, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
