<h1>Listing suppliers</h1>



<% @suppliers.each do |supplier| %>

<div class="container">  

    <%= supplier.name %> 
    <%= supplier.long_name %> 
    <%= supplier.contact_name %> 
    <address><a href="mailto:#"><%= supplier.contact_email %></a></address> 
    <%= link_to 'Show', supplier %> 
    <%= link_to 'Edit', edit_supplier_path(supplier) %> 
    <%= link_to 'Destroy', supplier, confirm: 'Are you sure?', method: :delete %> 




  <div class="container">
    <p>
      <h3>Item List</h3>
      <% supplier.components.each do |component| %>
      
      
      <ol><%= component.number %>: <%= component.sk_description %></ol>
      <% end %>
    </p>
  </div>
  <p>
    
    <% supplier.nonconformances.each do |nonconformance| %>
    <div class="container">
      <h3>NC List</h3>
      <ol><%= nonconformance.component.number %>: <%= nonconformance.component.sk_description %></ol>
      <p><%= nonconformance.reason %></p>
    </div>
    
    <% end %>
</div>
</p>






<% end %>


<br />

<%= link_to 'New Supplier', new_supplier_path %>
