<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
    <%= @supplier.long_name %>(<%= @supplier.name %>)
    <%= @supplier.contact_name %>, <%= @supplier.contact_email %>
    <% @supplier.components.each do |component| %>

    <p><%= component.number %>: <%= component.sk_description %></p>
    <% end %>
</p>


<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
